@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}
/* @FONTWARNING[{"type": "restricted", "family": "Cocogoose-Regular", "weight": "400", "style": "normal", "allowsCrossOrigin": false}] */

@font-face {
  font-family: "Cocogoose-Regular";
  src: local("Cocogoose-Regular");
}
/* @FONTWARNING[{"type": "restricted", "family": "Dela Gothic One-Regular", "weight": "400", "style": "normal", "allowsCrossOrigin": false}] */

@font-face {
  font-family: "Dela Gothic One-Regular";
  src: local("Dela Gothic One-Regular");
}
/* @FONTWARNING[{"type": "restricted", "family": "Cocogoose-Light", "weight": "300", "style": "normal", "allowsCrossOrigin": false}] */

@font-face {
  font-family: "Cocogoose-Light";
  src: local("Cocogoose-Light");
}
/* @FONTWARNING[{"type": "restricted", "family": "Playfair Display-Bold", "weight": "700", "style": "normal", "allowsCrossOrigin": false}] */

@font-face {
  font-family: "Playfair Display-Bold";
  src: local("Playfair Display-Bold");
}
/* @FONTWARNING[{"type": "restricted", "family": "Roboto-Light", "weight": "300", "style": "normal", "allowsCrossOrigin": false}] */

@font-face {
  font-family: "Roboto-Light";
  src: local("Roboto-Light");
}
/* @FONTWARNING[{"type": "restricted", "family": "Roboto-Bold", "weight": "700", "style": "normal", "allowsCrossOrigin": false}] */

@font-face {
  font-family: "Roboto-Bold";
  src: local("Roboto-Bold");
}
/* @FONTWARNING[{"type": "restricted", "family": "Roboto-Regular", "weight": "400", "style": "normal", "allowsCrossOrigin": false}] */

@font-face {
  font-family: "Roboto-Regular";
  src: local("Roboto-Regular");
}
/* @FONTWARNING[{"type": "restricted", "family": "IBM Plex Mono-Regular", "weight": "400", "style": "normal", "allowsCrossOrigin": false}] */

@font-face {
  font-family: "IBM Plex Mono-Regular";
  src: local("IBM Plex Mono-Regular");
}
